<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_cell_0000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,91}</string>
                <key>spriteSourceSize</key>
                <string>{77,91}</string>
                <key>textureRect</key>
                <string>{{133,0},{77,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_decoration_rock_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,103}</string>
                <key>spriteSourceSize</key>
                <string>{93,103}</string>
                <key>textureRect</key>
                <string>{{0,91},{93,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_decoration_tree_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,170}</string>
                <key>spriteSourceSize</key>
                <string>{145,170}</string>
                <key>textureRect</key>
                <string>{{93,91},{145,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_decoration_tree_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,170}</string>
                <key>spriteSourceSize</key>
                <string>{145,170}</string>
                <key>textureRect</key>
                <string>{{0,261},{145,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_forest_obstacle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,73}</string>
                <key>spriteSourceSize</key>
                <string>{64,73}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_forest_obstacle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,73}</string>
                <key>spriteSourceSize</key>
                <string>{69,73}</string>
                <key>textureRect</key>
                <string>{{64,0},{69,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>map.png</string>
            <key>size</key>
            <string>{238,431}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2b7f4d0a38a8ba5ad28d991a266df3f:2d639fd109008e53ebb5b111e8e6908a:ac44135ad7f9bbae94fd5e52745d3e3e$</string>
            <key>textureFileName</key>
            <string>map.png</string>
        </dict>
    </dict>
</plist>
